################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/HighConcurrentNetworkServer/FileContentIndex
/.vs/HighConcurrentNetworkServer/v17
/bin/x64/Debug
/HighConcurrentNetworkClient
/HighConcurrentNetworkServer
/temp/x64/Debug
*.sln
.DS_Store
.vscode/c_cpp_properties.json
.vscode/settings.json
/client/build
/server/build
client/build
server/build
/bin/x64/Release
/temp/x64/Release
/HCNSMemoryPool
/server/src/HCNSMemoryPool.idb
/server/src/HCNSMemoryPool.pdb
